body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden; /* To avoid any unintended scrolling */
    margin: 20;
}

canvas {
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

#gameContainer {
    display: flex;
    align-items: start;
}

#board {
    border: 1px solid #000;  /* Optional: Add border for visual clarity */
}

#gameControls {
    margin-left: 20px; /* spacing between board and controls */
    display: flex;
    flex-direction: column;
    align-items: start;
}

#currentPlayerDisplay {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#currentStone {
    width: 24px; 
    height: 24px; 
    border-radius: 50%; 
    margin-right: 8px;
}

#roleStone {
    width: 24px; 
    height: 24px; 
    border-radius: 50%; 
    margin-right: 8px;
}

#resetButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; /* smooth transition for hover effect */
}

#resetButton:hover {
    background-color: #45a049; /* Darker green on hover */
}

#playOnline{
    background-color: #664caf; /* Green background */
    color: white; /* White text */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; /* smooth transition for hover effect */
}
#playLocally{
    background-color: #af604c; /* Green background */
    color: white; /* White text */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; /* smooth transition for hover effect */
}

#gameModeHeader {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#playAI{
    background-color: #63d62d; /* Green background */
    color: white; /* White text */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; /* smooth transition for hover effect */
}

